/* * {outline: solid 1px black;} */
html {
    scroll-behavior: smooth;
}
li {
    display: inline-block;
    font-size: 30px;
    padding: 0 25px 0 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header {
    background-color: rgb(0, 32, 78);
    box-shadow: 0 3px 10px black ;

}
.row {
    margin-top: 30px;
}
.col {
    margin: 0;
    position: inherit;
}
body {
    overflow-x: hidden;
}
.img-fluid {
    margin-top: 3px;
}
.riadocek {
    display: inline-block;
}
.info {
    padding-bottom: 14px;
}
#formular {
    width: 1000px;
    height: 600px;
    margin-top: 50px;
}
.problem {
    margin-top: 100px;
}
.img-fluid {
    width: 100%; 
}
#otvaraciehodiny {
    font: bold;
    margin: 0 auto;
    max-width: 50%; /*sirka medzi dnami a hodinami*/
    margin-top: 30px;
}
#hodiny {
    margin-left: 100px;
}
.card:hover {
    border-color: rgb(0, 32, 78);
    text-decoration: none;
}
.margintopbottom {
    margin-top: 100px;
}
.zhora {
    margin-top: 200px;
}
.card-body {
    text-decoration: none;
    color: #000;
}
#marginleft {
    margin-left: 50px;
}
.highlight {
    color: rgb(0, 32, 78);
    font-weight: bold;
    display: inline-block;
}
#dole {
    margin-top: 16px;
}
#shadow {
    background-color: rgb(0, 32, 78);
    box-shadow: 0 3px 10px black ;
}

/* navbar */
#navbar {
    /* overflow: hidden; */
    background-color: #D9DEE8;
    z-index: 999;
    opacity: 90%;
}
#navbar a {
    display: inline-block; 
    color: rgb(0, 32, 78);
    font-weight: bold;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#navbar a:hover {
    background-color:  #c0cde9;
}
.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.carousel-item {
    max-height: 810px;
}

/* --- */

a:hover {
   text-decoration: none; 
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#dni {
    float: left;
}
#cas {
    float: right;
}
#popisanie_problemu {
    max-width: 100%;
}
.oddelenie-z-hora {
    margin-top: 70px;
}
.oddelenie-z-dola {
    margin-bottom: 70px;
}

/* dropbutton v navmenu */
.dropbtn {
    background-color: #D9DEE8;
    color: rgb(0, 32, 78);
    padding: 16px;
    border: none;
    font-weight: bold;
    
}
.dropbtn:hover {
    color: #c0cde9 ;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9DEE8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
}
.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color:#D9DEE8;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #c0cde9;
    border: none;
    color: rgb(0, 32, 78);
}
.dropdown-content-uprava  {
    opacity: 100;
    z-index: 999;
}
*:focus { 
    outline: 0;
    box-shadow:
      0 0 0 .2rem #fff,
      0 0 0 .35rem #069;
}
*:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}







/* Typography */
/**************************/
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}



/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(../obrazky/parallel-hl.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(../obrazky/paralla2-hl.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}


